/*
 * Use this stylesheet for CSS extra stuff which is harmful for
 * Netscape 4.x or browsers that include crappy CSS support.  This
 * works because this stylesheet is @imported into the main one, and NS 4
 * doesn't understand that
 */

/* twiddle spacing for procedure lists, bold the numeral */
.procedure li {
  font-weight: bold;
  margin-bottom: 3ex;
  margin-top: 3ex;
}

.procedure li p {
  font-weight: normal;
  margin-bottom: 1ex;
  margin-top: 1ex;
}

ol li p {
  margin-bottom: 2px;
  margin-top: 1px;
}
